<div class="login-page login-light" ng-controller="LoginController">
  <div class="login-container">

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form>
            <div class="login-header text-center">
            <a href="#" class="logo">
              <h2>PUF</h2>
            </a>
          </div>
          <br>
          <div class="well well-sm" role="alert" ng-show="ValidList">
            <p ng-repeat="item in ValidList" class="text-danger">{{item}}</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="username" id="username" placeholder="User name" ng-model="Username" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Password" ng-model="Password"/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary  btn-block text-left" ng-click="submitLogin()"> <i class="fa-lock"></i>
              Log In
            </button>
          </div>
          <p class="text-center text-muted">
                            <span >Don't have an account yet?</span>
                            &nbsp;
                        <a data-toggle="modal" href="/#/account/signup">Sign Up</a>
                        </p>
        </form>

      </div>

    </div>
  </div>
</div>