<div ng-controller="ProfileController">
  <div class="page-title">
        <div class="title-env">
          <h1 class="title">Profile</h1>
          <p class="description">Student profile</p>
        </div>
      </div>
      <section class="profile-env">
        
        <div class="row">
        
          <div class="col-sm-3">
            
            <!-- User Info Sidebar -->
            <div class="user-info-sidebar">
              
              <a href="#" class="user-img">
                <img src="theme/images/user-4.png" alt="user-img" class="img-cirlce img-responsive img-thumbnail">
              </a>
              
              <a href="#" class="user-title">
                Change picture
              </a>
            </div>
            
          </div>
          
          <div class="col-sm-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Basic Info</h3>
              </div>
              <div class="panel-body">
                <ul class="list-unstyled line-height-default">
                    <li>
                      <span class="col-sm-3 pull-left">Username</span>
                      <span class="col-sm-9"><i>{{Model.username}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">First name</span>
                      <span class="col-sm-9"><i>{{Model.firstname}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">Last name</span>
                      <span class="col-sm-9"><i>{{Model.lastname}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">Gender</span>
                      <span class="col-sm-9"><i>{{Model.genderName}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">Class</span>
                      <span class="col-sm-9"><i>{{Model.classname}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">Student code</span>
                      <span class="col-sm-9"><i>{{Model.studentcode}}</i></span>
                    </li>
                    <li>
                      <span class="col-sm-3">Address</span>
                      <span class="col-sm-9"><i>{{Model.address}}</i></span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
