<div ng-controller="ChangePasswordController">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">Change password</h1>
      <p class="description">Student change old password</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Change your password</h3>

    </div>
    <div class="panel-body">
      <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Current password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" ng-model="CurrentPassword">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">New password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" ng-model="NewPassword">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Confirm password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" ng-model="ConfirmPassword">
            </div>
          </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <button class="btn btn-success col-sm-4" ng-click="change()">ChangePassword</button>
          </div>
      </form>
    </div>
  </div>
</div>