/*body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}*/
.pointer{
  cursor: pointer;
}
.form-horizontal .control-label .left{
/* text-align:right; */
text-align:left;
background-color:#ffa;
}