<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Chào mừng đến với website trường PUF</h1>
            <p class="lead">Đây là website dành cho các bạn sinh viên truy cập xem thông tin cá nhân và tin tức của trường</p>

            <p>
             <span translate="main.like">Nếu có thắc mắc về việc sử dụng website xin liên hệ qua email </span>&nbsp;<a href="mailto:quaywin@gmail.com" target="_blank" >quaywin@gmail.com</a>
            </p>
        </div>
    </div>
</div>
